<div class="hero-and-nav-container just-the-image"></div>

<mat-card class="big-card-wrapper">
  <div class="centered-block">
    <h1 class="fancy mat-display-3">Documentation</h1>

    <h2 class="mat-display-1">Using GlitchTip</h2>

    <p>
      If you want to sign up for GlitchTip like you would with any other web
      app, this is your place.
    </p>

    <ul>
      <li>
        <a [href]="registerLink">Register for GlitchTip</a>
      </li>
      <li>
        <a [routerLink]="['/sdkdocs']">SDK Documentation</a>
      </li>
    </ul>

    <h2 class="mat-display-1">Hosting GlitchTip on your own server</h2>

    <p>
      If you want to run the source code on a server you control, start here.
    </p>

    <ul>
      <li>
        <a [routerLink]="['install']">Installation Guide</a>
      </li>
      <li>
        <a [routerLink]="['contribute']">Contributor Guide</a>
      </li>
    </ul>
    <h2 class="mat-display-1">Working with GlitchTip's code</h2>

    <p>Help make GlitchTip better by contributing to the project.</p>

    <ul>
      <li>
        <a target="_blank" href="https://app.glitchtip.com/docs/"
          >API Documentation</a
        >
      </li>
      <li>
        <a [routerLink]="['hosted-architecture']"> Hosted Architecture </a>
      </li>
    </ul>
  </div>
</mat-card>
