<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <p class="mat-body-1">Hosted version</p>
      <p class="mat-caption">Sign up at app.glitchtip.com</p>
    </ng-template>
    <div class="plans mat-elevation-z1">
      <mat-card *ngFor="let product of planOptions; let i = index">
        <mat-card-content>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <p>{{ product.description }}</p>
          <ul class="value-props">
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Error tracking
            </li>
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Unlimited projects
            </li>
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Unlimited team members
            </li>
          </ul>
          <p>
            <span class="mat-display-1">
              ${{ product.plans[0].amount | number }}
            </span>
            / month
          </p>
          <a
            mat-flat-button
            color="primary"
            buttonText="Select"
            target="_blank"
            [href]="registerLink"
          >
            Get started
          </a>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <p class="mat-body-1">Self-hosted version</p>
      <p class="mat-caption">Run on your own server</p>
    </ng-template>
    <div class="plans mat-elevation-z1">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Free and open source</mat-card-title>
          <ul class="value-props">
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Unlimited usage
            </li>
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Host on your infrastructure
            </li>
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Community support
            </li>
          </ul>
          <p>
            <span class="mat-display-1"> FREE </span>
          </p>
          <a
            mat-flat-button
            color="primary"
            buttonText="Select"
            href="https://glitchtip.com/documentation/install"
          >
            Get started
          </a>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <mat-card-title>Premium Support</mat-card-title>
          <ul class="value-props">
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Host on your infrastructure
            </li>
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Installation (optional $500 one-time fee)
            </li>
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Priority email and livechat support
            </li>
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Update assistance
            </li>
          </ul>
          <p><span class="mat-display-1">$15</span>/user/month</p>
          <a
            mat-flat-button
            color="primary"
            buttonText="Select"
            href="mailto:sales@glitchtip.com"
          >
            Email sales@glitchtip.com
          </a>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <mat-card-title>Enterprise Support</mat-card-title>
          <ul class="value-props">
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Custom pricing
            </li>
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Host on your infrastructure
            </li>
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Single Sign On integrations with LDAP, Google Apps, and more
            </li>
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Custom Branding
            </li>
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Priority Email and Live chat support
            </li>
            <li>
              <mat-icon color="primary">check_circle</mat-icon>
              Development support
            </li>
          </ul>
          <p><span class="mat-display-1">CUSTOM</span></p>
          <a
            mat-flat-button
            color="primary"
            buttonText="Select"
            href="mailto:sales@glitchtip.com"
          >
            Email sales@glitchtip.com
          </a>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>

<p class="mat-body-1">
  An <strong>event</strong> is when your project sends us data one time. For
  example, if ten users trigger the same bug, GlitchTip will
  receive&nbsp;ten&nbsp;events.
</p>
<p class="mat-body-1">
  This pricing is for our hosted version of GlitchTip. If you want to run your
  own version, you are always free to do so!
  <a [routerLink]="['documentation', 'install']"
    >Read our installation instructions</a
  >
  if you want to give it a try.
</p>
<p class="mat-body-1">
  Questions about subscriptions? Need assistance, or a bigger plan? Contact us
  at
  <a href="mailto:{{ billingEmail }}">{{ billingEmail }}</a
  >.
</p>
<!-- TODO: add state for user who is not owner, since they cannot sign up for an org-->
